[Unit]
Description=consul agent node
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/consul-env
Environment=GOMAXPROCS=2

ExecStart=/usr/bin/consul agent -server -bootstrap-expect 1 -data-dir /tmp/consul -node $HOST_NAME -bind $HOST_IP 

KillSignal=SIGINT
