[Unit]
Description=consul node
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/consul-env
Environment=GOMAXPROCS=2
Restart=on-failure

ExecStart=/usr/bin/consul agent -server -ui-dir /srv/consul -data-dir /tmp/consul -bootstrap-expect 4 -node $HOST_NAME -bind $HOST_IP -client 0.0.0.0 -join $JOIN_NODE

KillSignal=SIGINT
